<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
<%- include('../partials/header', {pagina: `About`}); %>  
<main>
    <div class="jumbotron">
        <h1>About me</h1>
        <p>Hello My name is Bruno Guimaraes Im studying how to work with Nodejs and EJS</p>
    </div>
</main>
</body>
<%- include('../partials/footer'); %>
</html>